<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worlab - Dev Challenge</title>
    <link rel="stylesheet" href="/css/cadastraUser.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="./main.js" defer></script>

    
</head>
<body>
    <div id="page">


        <aside class="left-menu"> 

            <h2>CRUD WORKLAB</h2>
    
    
            <figure class="user-image">
    
                <img src="https://randomuser.me/api/portraits/men/11.jpg" alt="Foto do usuário">
                <figcaption id="userName">Enzo Rodrigues </figcaption>

                <p>Admin</p>
    
            </figure>
    
    
            <nav>
                <ul>
                    <a href="/listUsers">
                        <li>
                            <img src="/svg/Vector.svg" alt="ícone">
                            Pacientes
                            </li>
                     </a>
                    
                    <a href="/create">
                        <li style="--delay:0.4s">
                            <img src="/svg/Vector.svg" alt="ícone">
                            Cadastrar paciente
                        </li>
                    </a>

                    <a href="/listExames">
                        <li style="--delay:0.6s">
                            <img src="/svg/Vector.svg" alt="ícone">
                            Exames
                        
                        </li>
                    </a>
                    
                    <a href="/createExame">
                        <li style="--delay:0.6s">
                            <img src="/svg/Vector.svg" alt="ícone">
                            Cadastrar Exame
                        
                        </li>
                    </a>
                    
                   

                    <a href="
                    /"><li style="--delay:1s">
                        
                        Log out
 
                         <img src="/svg/Vector.svg" alt="ícone
                         ">
                     </li></a>
                    
    
                </ul>

                
    
            </nav>
    
        </aside>
    
        


        <div class="main-content">  


            <section class="search-menu">


                <a href="/listExames"><img src="/svg/caret-circle-down 1.svg" alt="icone de uma seta"></a>
    
    
                <div class="search-input">
    
                    <label for="search">Search</label>
                    <input type="text" name="search" id="search" placeholder="Search">
    
                    <img src="/svg/bell.svg" alt="Icone de sininho">
    
                </div>
    
               
    
    
            </section>
    
    
        
    
    
            <section class="user-form">
    
                <div class="title-user-form">
                    <h2>Atualização de Exame</h2>

                 
                  
                   
                </div>

                <div class="line">

                </div>


              
                <section class="list-users">
                    <% exame %>
                  
                    <form action="/updateExame/<%= exame.id_exame%>" method="post" id="userRegister"> 
                       

                        <fieldset>
                            <div class="fieldset-wrapper">
                                <legend>Exame: <%= exame.desc_exame%></legend>
                            </div>

                            <div class="input-wrapper">


                                <div class="wrapper">
                                    <label for="name">Código do Exame</label>
                                    <input type="text" name="codeExame" id="codeExame"  value="<%= exame.code %>"/>
                                </div>

                            
                                <div class="wrapper">
                                    <label for="age">Descrição do Exame</label>
                                    <input type="text" name="descExame" id="descExame" value=" <%= exame.desc_exame %>"/>
                                </div>

                                <div class="wrapper">
                                    <label for="valorExmae">Valor do Exame</label>
                                     <input type="text" name="valorExame" id="valorExame" value=" <%= exame.valor_exame %>"/>

                                </div>
                                

                              
                              


                            </div>

                        </fieldset>

                        
                        <button type="submit" id="userReg">Atualizar Dados</button>
                    </form>

                </section>



        </div>
       





    </div>
   

</body>
</html>