<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worlab - Dev Challenge</title>
    <link rel="stylesheet" href="/css/cadastraUser.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="./main.js" defer></script>

    
</head>
<body>
    <div id="page">


        <aside class="left-menu"> 

            <h2>CRUD WORKLAB</h2>
    
    
            <figure class="user-image">
    
                <img src="https://randomuser.me/api/portraits/men/11.jpg" alt="Foto do usuário">
                <figcaption id="userName">Enzo Rodrigues </figcaption>

                <p>Admin</p>
    
            </figure>
    
    
            <nav>
                <ul>
                    <a href="/listUsers">
                        <li>
                            <img src="/svg/Vector.svg" alt="ícone">
                            Pacientes
                            </li>
                     </a>
                    
                    <a href="/create">
                        <li style="--delay:0.4s">
                            <img src="/svg/Vector.svg" alt="ícone">
                            Cadastrar paciente
                        </li>
                    </a>

                    <a href="/listExames">
                        <li style="--delay:0.6s">
                            <img src="/svg/Vector.svg" alt="ícone">
                            Exames
                        
                        </li>
                    </a>
                    
                    <a href="/createExame">
                        <li style="--delay:0.6s">
                            <img src="/svg/Vector.svg" alt="ícone">
                            Cadastrar Exame
                        
                        </li>
                    </a>
                    
                   
                   

                    <a href="
                    /"><li style="--delay:1s">
                        
                        Log out
 
                         <img src="/svg/Vector.svg" alt="ícone
                         ">
                     </li></a>
                    
    
                </ul>

                
    
            </nav>
    
        </aside>
    
        


        <div class="main-content">


            <section class="search-menu">


                <img src="/svg/caret-circle-down 1.svg" alt="icone de uma seta">
    
    
                <div class="search-input">
    
                    <label for="search">Search</label>
                    <input type="text" name="search" id="search" placeholder="Search">
    
                    <img src="/svg/bell.svg" alt="Icone de sininho">
    
                </div>
    
               
    
    
            </section>
    
    
        
    
    
            <section class="user-form">
    
                <div class="title-user-form">
                    <h2>Atualização de Paciente</h2>

                 
                  
                   
                </div>

                <div class="line">

                </div>


                <% user %>
                <section class="list-users">

                    <form action="/updateUser/<%= user.id_paciente %>" method="post" id="userRegister">

                        <fieldset>
                            <div class="fieldset-wrapper">
                                <legend>Paciente: <%= user.nome_paciente %> </legend>
                            </div>

                            <div class="input-wrapper">


                                <div class="wrapper">
                                    <label for="name">Nome</label>
                                    <input type="text" name="name" id="nome"  value="<%= user.nome_paciente %>"/>
                                </div>

                                <div class="wrapper">
                                    <label for="sexo">Sexo</label>
                                    <select name="sexo" id="">
                                        <!-- Se o valor retornado do BD for M, seleciona o value=M. Se o valor for F, seleciona o value=F -->
                                        <option value="M" <%= user.sexo_paciente === 'M' ? 'selected' : '' %>>M</option>
                                        <option value="F" <%= user.sexo_paciente === 'F' ? 'selected' : '' %>>F</option>
        
                                      </select>
                                </div>

                                <div class="wrapper">
                                    <label for="age">Idade</label>
                                    <input type="text" name="age" id="age" value="<%= user.idade_paciente %>"/>
                                </div>

                                <div class="wrapper">
                                    <label for="email">E-mail</label>
                                     <input type="email" name="email" id="email" value="<%= user.email_paciente %>"/>

                                </div>
                                

                                <div class="wrapper">
                                    <label for="phone">Celular</label>
                                    <input type="text" name="phone" id="phone" value="<%= user.tel_paciente %>"/>
                                </div>
                              


                            </div>

                        </fieldset>

                        
                        <button type="submit" id="userReg">Atualizar Dados</button>
                    </form>

                </section>



        </div>
       





    </div>
   

</body>
</html>